// Wormux resource for win32 target
101 ICON wormux.ico

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 0,7,0,3
  PRODUCTVERSION 0,7,0,3
  FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x40004L
  FILETYPE 0x2L
  FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileDescription", "Wormux"
            VALUE "FileVersion", "0,7,0,3"
            VALUE "InternalName", "wormux"
            VALUE "LegalCopyright", "Copyright (C) 2004"
            VALUE "LegalTrademarks", "test"
            VALUE "OriginalFilename", "wormux.exe"
            VALUE "ProductName", "wormux"
            VALUE "ProductVersion", "0,7,0,3"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
