<?xml version="1.0" encoding="utf-8"?>
<resources>
  <author>
    <nickname>BeBeLiOuS</nickname>
    <email>contact@bebelious.fr</email>
    <country>France</country>
  </author>
  <surface name="sky" file="egypte_fond.jpg" />
  <surface name="map" file="egypte_decor.png" />
  <surface name="preview" file="egypte_preview.jpg" />
  <name>Egypte</name>
  <water>1</water>
  <nb_mine>4</nb_mine>
  <is_open>1</is_open>
</resources>
