<?xml version="1.0" encoding="utf-8"?>
<resources>
  <author>
    <nickname>BeBeLiOuS</nickname>
    <email>contact@bebelious.fr</email>
    <country>France</country>
  </author>
  <surface name="sky" file="ballon_fond.jpg" />
  <surface name="map" file="ballon_decor.png" />
  <surface name="preview" file="ballon_preview.jpg" />
  <name>Ballon</name>
  <water>1</water>
  <nb_mine>3</nb_mine>
  <is_open>1</is_open>
</resources>
